# nltk_data is too big, the script installs it during runtime
NLPU/nltk_data

# preferences change for every user, the script initializes it during runtime
**preferences.txt

# cache files aren't required
**__pycache__